
body {
	background-image: url(../green-background.jpg);
	text-align: center;
	color: white;
	font-family: "Lucida Console", Monaco, monospace;
	color: white;
	font-size: 20px;
}

.card {
  display: inline-block;
  float: left;
  border: solid 1px black;
  width: 120px;
  border-radius: 5px;
  height: 168px;
  margin-right: 20px;
}

.hand {
  display: inline-block;
}
button {
	width: 70px;
	height: 45px;
	margin-top: 40px;
	margin-right: 20px;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 80%;
	border-radius: 3px;
	background-color: white;
}

.results-container {
	margin-top: 10px;
	margin-bottom: 10px;	
	font-size: 100px;
	color: white;
}